mixin logo(logo)
    include logo/logo

mixin menu(menu, active, postfix)
    include menu/menu

mixin picture(picture)
    include picture/picture

mixin svg(filename, whiteIcon)
    include svg/svg

mixin card(card)
    include card/card

mixin player(player)
    include player/player

mixin microclimate(microclimate)
    include microclimate/microclimate

mixin graph()
    include graph/graph

mixin card_buttons(whiteIcon)
    include card_buttons/card_buttons

mixin button(button)
    include button/button

mixin touch-elements()
    include touch-elements/touch-elements

mixin camera(camera)
    include camera/camera

mixin cameras(cameras)
    each camera in cameras
        +camera(camera)

mixin cards(cards)
    each card in cards
        +card(card)

mixin buttons(buttons)
    div.buttons
        each button, index in buttons
            +button({value: button, active: index===0})
