div.touch_elements
    div.touch_block
        div.touch_element.touch-zoom Приближение: #[span#zoom 100%]
        div.touch_element.touch-bright Яркость: #[span#bright 100%]
    div.touch_block
        div.touch_element.touch-zoom Скролл Х: #[span#hMove 0%]
        div.touch_element.touch-bright Скролл Y: #[span#vMove 0%]