
.touch_elements {
  @extend .card_target;
  display: none;
  padding: 0 !important;
  justify-content: space-between;
  margin-bottom: 0 !important;
  flex-wrap: wrap;
}

.touch_block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.touch_element {

}