.size-small {
  padding: $cardPaddingV $cardPaddingH 0 $cardPaddingV;
  .card_target {
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 0 24px 0;
  }
  .card_target__source {
    margin-bottom: 20px;
  }
  .card_target__time {
    margin: auto 0 0 0;
  }
  .card_description_text {
    margin-bottom: 24px;
  }
}

.size-large {
  .card_description {
    font-size: 23px;
  }
}

.size-small, .size-medium {
  .card_description {
    color: $black;
  }
}

@include for-phone-only {
  .size-large {
    .card_description {
      font-size: 18px;
    }
  }

  .size-small {
    .card_target {
      flex-direction: row;
      justify-content: space-between;
      margin: 20px 0 24px 0;
    }
    .card_target__source {
      margin-bottom: 0;
    }
  }
}
