@import "../../../global/styles/service/variables.scss";
@import "../../../global/styles/service/colors.scss";
@import "../../../global/styles/service/mixins.scss";

.Card {
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 20px;
  border-radius: 20px;
  padding: $cardPaddingV $cardPaddingH;
  cursor: pointer;
  transition: box-shadow, background-color 0.2s ease;
  &:hover {
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
  }
}

.Card-Header {
  display: flex;
  align-items: center;
  height: 53px;
}

.Card:hover > .Card-Button {
  opacity: 1;
}

.Card-Button {
  position: absolute;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.Card-Button_align_top {
  top:10px;
  right: 10px;
}

.Card-Button_align_bottom {
  bottom: 10px;
  right: 10px;
}

.Card-Title {
  margin-left: 20px;
}

@include for-custom-width-from($tapeFixed) {
  .card_header__title {
    h3 {
      min-width: 218px;
    }
  }
}


.Card-Target {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 20px 0 25px 0;
}

.Card-Description {
  margin-top: auto;
}

.card_data_graph {
  margin-top: 80px;
}

.card_data_image {
  margin-top: 20px;
  overflow: hidden;
  border-radius:20px;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
   /* height: 120%;*/
    width: 200%;
    user-select: none;
    touch-action: none;
    position: relative;
    top:0;
    left:0;
    transition: zoom 0.2s ease;
  }
}



@include for-custom-width-from-to($phoneWidthDown, $tapeFixed) {

    .card_header {
      height: 36px;
    }

    .card_header__icon > img {
      width: 45px;
    }

    .card_header__title {
      font-size: 17px;
      h3 {
        min-width: 0;
      }
    }

    .card_target {
      font-size: 15px;
      margin: 18px 0 20px 0 !important;
    }

    .card_description {
      font-size: 20px;
    }
}

@include for-phone-only {

  .card_header {
    height: 36px;
  }

  .card_header__icon > img {
    width: 35px;
  }

  .card_header__title {
    font-size: 14px;
    h3 {
      min-width: 0;
    }
  }

  .card_target {
    font-size: 12px;
    margin: 18px 0 20px 0 !important;
  }

  .card_description {
    font-size: 18px;
  }

  .card_data_image {
    max-height: 240px;
    display: block;
  }
}
