html {
  width: 100%;
}
body {
  min-height:100%;
}

section, footer, header {
  will-change: transform;
}

footer {
  border-top: 1px solid $secondaryGrey;
  z-index: 5;
}

.container {
  max-width: 100%;
  height: 100%;
  padding: 0 #{$containerPadding};
}

@include for-custom-width-from-to(0, $containerSmallPaddingBreakpoint)
{
  .container {
    padding: 0 #{$containerSmallPadding};
  }
}

.separator {
  width: 100%;
  height: 1px;
  background-color: $secondaryGrey;
}

.content {
  width: 100%;
  display: flex;
}

@include for-custom-width-from-to(0, $mobileTimelineFromVerticalToHor) {
  .separator {
    display: none;
  }
  .safe_footer_area {
    display: none;
  }
}

@include for-custom-width-from-to(0, $tabletLandscapeUp)
{
  .content {
    flex-wrap: wrap;
  }
}

.safe_footer_area {
  height: $footerHeight;
}

.body-fixed {
  overflow: hidden;
}

@include for-desktop-up {
  .container {
    max-width: $desktopUp;
    margin: 0 auto;
  }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

span.bold {
  font-weight: bolder;
}

