/* buttons */

.card:hover > .card_button {
  opacity: 1;
}

.card_button {
  position: absolute;
  padding: 5px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card_button_close {
  top:10px;
  right: 10px;
}

.card_button_arrow {
  bottom: 10px;
  right: 10px;
}