$black: #000;
$mainGray: #333333;
$secondaryGrey: #F0F0F0;
$additional: #858585;

$shadow:#C5BABA;
$background:#FAFAFA;
$backgroundHovered:#F3F3F3;
$yellow:#FFD93E;
$critical:#DB5341;
$buttonBackground:  #E5E5E5;
$yellowHard: #FFCD00;
$whiteText: white;
/* player */
$trackColor: #979797;
$playerAdditionalInfo:#A1A1A1;
$playerCursor:#D8D8D8;
$volumeCursor:#605757;