/* device sizes */
$phoneWidthDown: 719px;
$tabletPortraitUp: 720px;
$tabletLandscapeUp:800px;
$desktopUp: 1366px;



/* custom breakpoints  */
$tapeFixed: 1090px;
$mobileTimelineFromVerticalToHor: 630px;
$popupMobile: 650px;
$containerSmallPaddingBreakpoint: $tapeFixed;
$fromOneToTwoColumnsFavoriteSc: 1160px;



$bigDesktop: 1800px;

/* page params */
$containerPadding: 40px;
$cardPaddingV: 24px;
$cardPaddingH: 20px;
$containerSmallPadding: $containerPadding/2;
$footerHeight: 64px;
$headerMinHeight: 64px;
$headerBigHeight: 92px;
$defaultBoxShadow: 0 2px 6px 0 rgba(197,186,186,0.50);

/* animations */
$popupAnimationTime: 0.3s;
$filterAnimationTime: 0.3s;
$fakeCardAnimation: 0.3s;
$favoriteScAnimationTime: 0.5s;
