

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &::after {
    display: none;
    content: '';
    width: 17px;
    height: 18px;
    margin-right: 0;
    margin-left: auto;
    position: relative;
    top:4px;
    right: -1px;
    @include background('icon_list_m')
  }
}

@include for-custom-width-from($mobileTimelineFromVerticalToHor) {
  .header__container {
    height: $headerBigHeight;
  }
}

@include for-custom-width-from-to(0, $mobileTimelineFromVerticalToHor) {
  .header {
      position: fixed;
      height: 64px;
    width: 100%;
      background-color: white;
    z-index: 10;
      top:0;
  }

  .header__container {
    height: $headerMinHeight;
    cursor: pointer;
    &::after {
      display: flex;
    }
  }
}
