doctype html
include ../components/library/mixins
html
    head
        title #{self.settings.title}
        meta(charset="UTF-8")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='robots' content="noindex")
        link(rel='stylesheet' href='styles.css')
    body
        header.header.container
            include ../components/general/header/header
        div.separator
        section.tape
            include ../components/general/tape/tape
        footer.footer
                include ../components/general/footer/footer
    script(src="scripts.js")