
.microclimate {
  font-size: 19px;
  margin-top: 22px;
  display: flex;
}

.microclimate_humidity, .microclimate_temperature {
  color: $black;
}
.microclimate_temperature {
  margin-right: 52px;
}

@include for-phone-only {
  .microclimate {
    font-size: 14px;
    justify-content: space-between;
  }
  .microclimate_temperature {
    margin-right: 0;
  }
}