div.player
    div.track
        +picture({custom: true, name: 'album-cover.png'})
        div.track__params
            div.track__name=`${player.artist} - ${player.track.name}`
            div.track__timeline
                input.track_range(type='range' value='50')
                div.track__time=player.track.length
div.player__controllers
    div.track_control.prev_track_controller
        +svg('Prev')
    div.track_control.next_track_controller
        +svg('Prev')
    div.volume_timeline
        input.volume_range(type='range' value='80')
        div.volume__value=`${player.volume}%`