-var postfix = 'footer';
div.footer_wrapper
    div.footer_container
        div.additional_menu
            +menu(self.footer.menu, false, postfix)
        div.menu__footer_copyright=(self.settings.copyright)